@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

* {
    box-sizing: border-box;
    font-family: 
            'Spoqa Han Sans', 
            'Spoqa Han Sans JP', 
            'Sans-serif',
            'Jeju Myeongjo',
             serif;
}

.writeQTitle {
    margin-top: 170px;
    margin-bottom: 95px;
    height: 50px;
    text-align: center;
}

.writeQTitle h2 {
    font-family: 'Jeju Myeongjo', serif; 
}

.questionTitle{
    margin: auto;
    margin-bottom: 10px;
}

.questionContent{
    margin: auto;
}

.writeBox{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

input{
    width: 90%;
}

textarea{
    width: 100%;
    height: 350px;
}

.questionTitle{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.questionContent{
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.button{
    margin-left: 80%;
}

table{
    width: 75%;
    margin: auto;
    font-family: 'Spoqa Han Sans JP';
    border-bottom: 1px solid #999; 
    border-collapse:collapse;
    margin-bottom: 10px;
}

th {
    padding: 14px;
    border-top: 2px solid #999;
    border-bottom: 1px solid #999; 
}

td {
    padding: 7px;
}
